@page "/"
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Mvc;


<h1>Alvianda Artificial Intelligence Dashboard (2AID)</h1>

<h3>Purpose</h3>

<p>
    This portal helps building under the a central coverage, easily accessible through a simple user interface, a bunch of powerful machine learning applied technologies and techniques.<br/>
    As the name implies 2AID is build to aid (help) the users in working with a few powerful machine learning tools.<br/>
    From this perspective, 2AID portal is addressing a few areas of interest:
    <ul>
        <li><b>Systems and applications "physicals"</b> aimed at applying machine learning in predicting possible functional and non-functional degradation areas based on the current application health status</li>
        <li><b>Supervised and unsupervised learning model management</b> offering an easy to handle user interface that allows the user to manage the trained models based on a custom versioining control</li>
    </ul>
</p>

<h3>Vision and Basic Requirements</h3>
<p><b>2AID</b> stands for “Alvianda Artificial Intelligence Dashboard.”</p>
<p><b>2AID</b> is required by both production support and product development teams to play two important roles (up to its current version):</p>
    <ul>
        <li>Hub of information for the application health monitoring needs. It needs to collect data, process it and render it into a useful format that is easily consumed by various users.</li>
        <li>Machine learninh model management, with versioining control attached</li>
    </ul>
<p><b>2AID</b> is a complex piece of work due to a few major aspects:</p>
<p>
    <ul>
        <li>Needs to be build as a hub with both “portal tiles” that requires in-house development and “portal links” that redirect the users to various out-of-box specialized tools.</li>
        <li>While the portal tiles could, but not being restricted to, display summary information for quick and meaningful updates, the portal links take the user to detailed information</li>
        <li>As a hub needs to enforce access security through Single-Sign-On [SSO] which is highly recommended, or through tool specific authentication/authorization (to be avoided if possible.)</li>
        <li>For those cases when field mapping between data provided by various components and even tools may be needed, it needs to play the role of a “data broker”</li>
    </ul>
</p>
@*<p>Detailed design information can be found at <a href="https://finastra.sharepoint.com/:w:/r/Structured/CSLPTransitionIn/Shared%20Documents/Architecture/Architecture%20Team/Administration%20Portals/SL-Configuration%20and%20Operations%20Monitoring%20Portal%20v1.docx?d=w6d7bcbc5188148f8ba09e23d415e165f&csf=1&web=1&e=NyTgov"><b>SL-Configuration and Operations Monitoring Portal v1</b> document</a></p>*@
<span style="font-size:14px">2AID Dashboard is getting built and maintained by Alvianda Data Science Lab. Please contact <a href="mailto:antongeorgescu@yahoo.ca">Anton Georgescu, Alvianda Labs Chief Architect</a> for any inquiries.</span>
