@using Microsoft.Extensions.Configuration;

<div class="top-row pl-4 navbar navbar-dark" style="font-size: 14px;line-height: 1.428;">
    <a class="navbar-brand" style="font-size:larger" href="">2AID Dashboard</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="height:100%;font-size: 14px;line-height: 1.428;">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span><h5> Home</h5>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-plus" aria-hidden="true"></span><h5> E-Viewer</h5>
            </NavLink>
            @if (expandSubNav)
            {
                <ul>
                    <li>
                        <NavLink class="expand-menu" href="eventviewer">
                            <span class="oi oi-list-rich" aria-hidden="true"></span><h6> Event Log Entries</h6>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="expand-menu" href="eventcharts">
                            <span class="oi oi-graph" aria-hidden="true"></span><h6> Event Log Charts</h6>
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="()=>expandSubNav2 = !expandSubNav2">
                <span class="oi oi-plus" aria-hidden="true"></span><h5> [ML] Wine Quality Modeling</h5>
            </NavLink>
            @if (expandSubNav2)
            {
        <ul>
            <li>
                <NavLink class="expand-menu" href="winequalityprediction/winedataset">
                    <span class="oi oi-list-rich" aria-hidden="true"></span><h6> Dataset Viewer</h6>
                </NavLink>
            </li>
            <li>
                <NavLink class="expand-menu" href="winequalityprediction/wineanalytics">
                    <span class="oi oi-graph" aria-hidden="true"></span><h6> Data Preparation</h6>
                </NavLink>
            </li>
            <li>
                <NavLink class="expand-menu" href="winequalityprediction/winemlmodel">
                    <span class="oi oi-document" aria-hidden="true"></span><h6> Predictive Modeling</h6>
                </NavLink>
            </li>
            <li>
                <NavLink class="expand-menu" href="winequalityprediction/estimatequality">
                    <span class="oi oi-calculator" aria-hidden="true"></span><h6> Quality Prediction</h6>
                </NavLink>
            </li>
        </ul>
            }
        </li>
        @if (!isDebug)
        {
            <li class="nav-item px-3" style="visibility:hidden">
                <NavLink class="nav-link" href="httprequesttester">
                    <span class="oi oi-plus" aria-hidden="true"></span><h5> Http Request Tester</h5>
                </NavLink>
            </li>
        }
    </ul>
</div>


@code {
    [Inject] IConfiguration Config { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool expandSubNav;
    private bool expandSubNav2;

    private bool isDebug { get; set; }
    protected override void OnInitialized()
    {
        isDebug = bool.Parse(Config.GetSection("ReleaseSettings").GetValue<string>("IsDebug"));
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
